.pw-hero {
	background: url('../images/bg/top-bg.jpg') 50% 50% no-repeat;
	background-size: cover;
}

.pw-hero-subheader {
	margin-bottom: 1rem;
	filter: drop-shadow(0 2px rgba($pw-gray-900, 1));

}

